<!doctype html>
<html>
<head>
    <title>AiryDrive</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css"/>
</head>
<body>
<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4"><h2 id="title"><span class="glyphicon glyphicon-fire"></span> AiryDrive</h2></div>
    <div class="col-xs-4"></div>
</div>
<div id="container" class="container">

    <!--div id="headline">
        <h2><span class="glyphicon glyphicon-fire"></span> AiryDrive</h2>
    </div-->

    <div id="main" class="jumbotron text-center">
        <div class="center-block" style="width:400px">
            <p><%= title %></p>
            <div id="navigation-back"><a href="javascript:history.back()">Back</a></div>
        </div>
    </div>

    <div class="text-center">
        <p>View on <a href="https://github.com/igi64/airydrive">GitHub</a>.</p>
    </div>

</div>
</body>
</html>