<!doctype html>
<html>
<head>
	<title>AiryDrive</title>
    <script src="javascripts/jquery/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>
<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4"><h2 id="title"><span class="glyphicon glyphicon-fire"></span> AiryDrive</h2></div>
    <div class="col-xs-4">
        <% if (user) { %>
            <div id="user"><%= user.email %> &nbsp;<a href="/logout" class="navbar-link">Sign out</a></div>
        <% } else { %>
            <div id="user"><a href="/login" class="navbar-link">Sign in</a></div>
        <% } %>
    </div>
</div>
<div id="container" class="container">

    <!--div id="headline">
        <h2><span class="glyphicon glyphicon-fire"></span> AiryDrive</h2>
    </div-->

    <div id="main" class="jumbotron text-center">
        <div class="center-block" style="width:400px">
            <h4>test</h4>

        </div>
	</div>

    <div class="text-center">
		<p>View on <a href="https://github.com/igi64/airydrive">GitHub</a>.</p>
	</div>

</div>
</body>
</html>