<script src="/javascripts/jquery/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://browserid.org/include.js" type="text/javascript"></script>

<form action="/auth/browserid" method="post" style="display:none;">
	<input type="text" name="assertion"/>
</form>

<img src="https://developer.mozilla.org/files/3969/plain_sign_in_blue.png" id="browserid"/>
<script>
  $("#browserid").click(function(){
    navigator.id.get(function(assertion) {
      if (assertion) {
        $("input").val(assertion);
        $("form").submit();
      } else {
        location.reload();
      }
    });
  });
</script>
